<div growl></div>


<div class="clear"></div>
<div class="panel panel-default toolbar">
	<div class="panel-heading clearfix">
		<div class="row">
	        <div class="col-xs-1">
	            <button class="btn btn-primary btn-lg" name="navigate_up" ng-click="previous()"><span class="glyphicon glyphicon-arrow-left"></span> Back</button>
	        </div>
	        <div class="col-xs-9">
	        	Navigation:
	            <ol class="breadcrumb">
					<li ng-repeat="mirror in mirrorStack"><a ng-click="navigate({{'mirror.guid'}})">{{mirror.displayName}}</a></li>
				</ol>
	        </div>
	        <div class="col-xs-2">
	        </div>
    	</div>
	</div>

	<div id="canvas" class="panel-body">

		<div id={{showDisplayText(assoc)}} ng-repeat="assoc in groupingItems" repeat-end="repeatEnd()" back-img="{{assoc.customPicture}}" data-displayName="{{assoc.displayName}}" data-guid="{{assoc.guid}}" data-toggle="tooltip" title="{{assoc.displayText}}" context-menu data-target="menu-{{ $index }}" ng-mousedown="handleAssocSelect(assoc)" class="folder draggable panel-default position-fixed" ng-style="::handleAssocStyle(assoc)"><p data-guid="{{assoc.guid}}">
		{{showDisplayText(assoc)}}</p>

			<div class="dropdown" id="menu-{{ $index }}">
				<ul class="dropdown-menu" role="menu">
					<li class="set-background">
						<a class="pointer" role="menuitem" tabindex="1"
						ng-click="handleBackgroundEdit()"><span class="strong">Set Background</span></a>
					</li>
				</ul>
			</div>
		</div> 

		<div ng-click="handleClick(assoc)" ng-repeat="assoc in notGroupingItems" class="folder" style="background-image:url('images/file.gif')"><p>{{assoc.displayText | limitTo: 12}}</p></div>

	</div>
</div>
<blockquote>
	<p>Drag and drop folders around the canvas, click on a folder to navigate into it, right click on a folder to set a background image.</p>
</blockquote>



