h1 {
	font-family: 'Roboto slab', serif;
	text-align: center;
}

span.association-grouping {
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.association-row {
	padding: 7px 0 7px 0;
}

.association-row p {
	margin: 0;
}

.association-row:hover {
	background: #e0e0e0;
}

input {
	padding: 0;
	margin: 0;
}
